.divTag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #A18D4D;
}

.divSub{
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.divSubTag{
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0.5rem 1rem;
    background-color: #284B4B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    
  }
  
  /* button:hover {
    background-color: #284B4B;
  } */